html, body, p, b {
    margin: 0;
    padding: 0;
}

#menu {
    background-color: #24522E !important;
}

#menu .active{
    color: #fff !important;
    opacity: 0.5;
}

#menu a {
    color: #fff !important;
    font-weight: bold;
}

#menu a:hover {
    opacity: 0.5;
}

#inicio {
    margin-top: 15px;
    padding-top: 90px;
}

#sobre {
    padding-top: 90px;
}

.texto {
   text-align: justify; 
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   letter-spacing: 1px;
}

.img-sobre {
    max-width: 320px;
    border-radius: 8px;
    margin-left: 15px;
}

#produtos {
    margin-top: 15px;
    padding-top: 90px;
}

#premios {
    margin-top: 15px;
    padding-top: 90px;
}

#contato {
    margin-top: 15px;
    padding-bottom: 25px;
    background-color: #872426;
    color:#fff;
}

.link-social {
    cursor: pointer;
    text-decoration: none;
    color:#fff;
}

.link-social:hover {
    opacity: 0.5;
}
